/* Global styles */
html {
  box-sizing: border-box;
}

  /* Profile  */
header, body {
  color: #F7FFF7;
  text-align: center;
  height: auto;
}


body {
  color: #F7FFF7;
  background: #2F3061;
  margin: auto;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;

}

h1 {
    font-size: 65px;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
  }

h2 {
    line-height: 1;
    font-size: 35px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
    padding: 10px;
    margin-bottom: 5px;
  }

.about-text {
  font-family: cursive;
}

.content-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
}


h3 {
  margin-bottom: 0;
}

/* Work Experience */
.work-experience {
  color: #F7FFF7;
  background: #2F3061;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}

/* Contact Information */
footer {
  color: #F7FFF7;
  text-align: center
}



.contact-list a {
  padding: 5px;
  display: inline-block;
}


.navigation {
  padding: 5px;
}

.navigation a {
  text-decoration: none;
  
}

.projects{
  padding: 5px;
}

img {
  width: 400px;
}

 /* unvisited link */
a:link {
  color: darkorange;
}

/* visited link */
a:visited {
  color: rgb(255, 0, 106);
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #0000FF;
} 

 .list{
  margin: auto;
}